.cartContainer {
  min-height: 80vh;
  padding: 40px 20px;
}

.cartList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem 20rem;
}

.cartList h2 {
  margin-left: 25px;
}

/* Spinner container */
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
