.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: #6ecee6;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    position: sticky; /* stays on top when scrolling */
    top: 0;
    z-index: 1000;
}

/* Logo section */
.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    gap: 0.5rem;
    cursor: pointer; /* space between text and image */
}

.navbar-logo img {
    height: 40px;
    width: auto;
    object-fit: contain;
    border-radius: 20px;
}

/* Links section */
.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    transition: color 0.2s ease, border-bottom 0.2s ease;
}

/* Active link styling */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: #6ecee6;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    position: sticky; /* stays on top when scrolling */
    top: 0;
    z-index: 1000;
}

/* Logo section */
.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    gap: 0.5rem;
    cursor: pointer; /* space between text and image */
}

.navbar-logo img {
    height: 40px;
    width: auto;
    object-fit: contain;
    border-radius: 20px;
}

/* Links section */
.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    transition: color 0.2s ease, border-bottom 0.2s ease;
}

/* Active link styling */
.navbar-links a.active-link {
    color: #11e3ff; /* orange text */
    font-weight: 600;
    background-color: #ffe9d6; /* light orange background */
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
}


.userProfile i{
    font-size: 35px;
}

.dropdown {
      position: relative;
      display: inline-block;
    }

    .dropbtn {
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right:-40%;
      background-color: #fff;
      min-width: 100px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.15);
      border-radius: 6px;
      z-index: 1;
    }

    .dropdown-content a {
      color: #333;
      padding: 10px 14px;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid #eee;
    }

    .dropdown-content a:last-child {
      border-bottom: none;
    }

    .dropdown-content a:hover {
      background-color: #b6b6b6;
      border-radius: 6px;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
