.filter-container {
    background: #f0f0fc;
    border-radius: 10px;
    left: 0;
    padding: 1rem;
    position: fixed;
    text-align: center;
    top: 30%;
    width: 14rem;

}
.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}