.container{
display: flex;
flex-direction: column;
}

.productList {
  width: 50em;
  height: auto;
  min-height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 2rem;
  margin: 0em 3em 0em 3em;
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
      width: 56em;
}

.errorMessage {
  text-align: center;
  color: red;
  font-weight: 500;
  margin-top: 3rem;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 0.5rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: 1px solid #7064e5;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  font-weight: 500;
  color: #7064e5;
  transition: 0.2s;
}
.mobilePageIndicator{
  display: none;
}

.pagination button:hover:not(:disabled) {
  background: #7064e5;
  color: #fff;
}

.pagination button.active {
  background: #7064e5;
  color: #fff;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.pagenumber button{
  margin: 2px;
}

@media screen and (max-width: 1430px) {
  .productList {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    margin: 3em 0em 18em 2em;
  }
  
}
@media screen and (max-width : 853px) {
  .productList{
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    margin: auto;
  }
}
@media screen and (max-width: 460px){
  .pagination {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  gap: 0.5rem;
}
.pagenumber button{
  display: none;
}
.mobilePageIndicator{
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid #7064e5;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  font-weight: 500;
  color: #7064e5;
  transition: 0.2s;

}
}